
h1 {
    display: flex;
    width: 50%;
    padding: 100px 20px;
    font-weight: 900;
    text-align: center;
    font-size: 50px;
    
}
/* navigation */

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
        margin: 0 1em;
    }

nav a {
    color: rgb(97, 92, 92);
    text-decoration: none;
    font-weight: 700; 
    }

nav a:hover,
nav a:focus {
    color:blue
}




img {
  display: flex;
  width: 50%;
  margin-left: 10px;
  border: 2px solid rgb(138, 140, 145);
  border-radius: 5px;
}

/* .container {
    margin: 10px auto;
    width: 150%;
    padding: 8px;
    display: flex;
    margin: auto 0;
  } */

  .container {
      width: 90%;
      max-width: 620px;
      margin: 0 auto;
      border: 2px solid black;
  }



body {
  font-family: "Josefin Sans", sans-serif;
  background-color: rgb(245, 237, 230);
  font-size: 20px;
  margin:0;
}


/* p {

  font-weight: bold;
  min-width: 200px;
  min-height: 100px; */
  
}

.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-basis: 100%;
    height: 100%;
    width: 100%    
} 

.links a {
    height: 100%;
    padding:80px 0;
    width: 100%;  
} 

.footer {
  background-color: rgb(151, 149, 149);
  color: white;
  width: 100%;
  height: 75px;
  display: flex;
  justify-content: space-between;
  text-align: center;
  
}

/* @media only screen (max-width: 620px) {
    header, main, footer {
        width: 100%;
    }
} */
